body{
    background-color: black;
}

.main_div{
    height:860px ;
    position: absolute;
    margin-top:70px;
    margin-left: 20px;
    font-size: large;
    color: white;
    
}

.inner_div{
    position: absolute;
    
}

.first_container{
    background-color:#F5E180;
    width: 600px;
    height: 400px;
    position: absolute;
    display: block;
}

.nav_bar{
    width: 200px;
    height: 50px;
    margin-left: 90px;
}

.nav_item{
    width: 70px;
    position: absolute;
    background-color: #61481C;
    font-size:x-small;
    color: white;
    height: 15px;

}

.thecheesecake_logo{
    width: 30px;
    border-radius: 30px;
    display: inline-block;
    margin-left: 40px;
}

.home_div{
    padding-left: 20px;
    border-radius: 3px;
    background-color: white;
    color: #61481C;


}
 
.the_about_div{
    left: 73px;
}

.the_menu_div{
    left: 140px;
}
  
.the_contact_div{
    left: 185px;
    border-radius: 3px;
}

.flex_item{
    position: absolute;
     
}

.flex_container{
    margin-bottom: 2px;
    height: 20px;
    margin-top: 20px;
    display: inline-block;
    margin-left: 3px;

    
}

.button_div{
    left: 470px;
    height: 6px;

}

.start_button{
    border: 1px #61481C solid;
    border-radius: 15px;
    font-size: 10px;
    width: 48px;
    height: 20px;
    background-color:#F5E180;
    color: #61481C ;
    

}
 
.text_div{
    width: 300px;
    margin-top: 50px;
    color: #61481C ;
    margin-left: 50px;

}

.cheese_image{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-left: 400px;
    display: inline-block;
    margin-top:100px ;
}
 
.the_buttons{
   margin-top: 30px;
   margin-bottom: 30px;
}

.the_text{
    font-size: 14.5px;

}

.buttons{
    border-radius:12px ;
    height: 25px;
}

.the_btn{
    background-color: #61481C;
    color: #F5E180;
    
}

.demo{
    background-color:#F5E180;

}

.headingText{
   margin-left: 299px; 
   font-weight: bold;
   font-size: larger;
}


.cheesecake_image2{
    height: 180px;
    border-radius: 180px;
    width: 180px;
    margin-left: 40px;
    margin-top: 30px;
    display: inline-block;
    position: absolute;
}

/* .the_image{
    display: inline-block;
} */


.the_second_container{
    background-color: #F8FAE5;
    height: 300px;
    width: 600px;
    margin-top: 300px;
    margin-bottom: 0px;
    display: block;
    position: absolute;
}

.cheesecake_story{
    margin-left: 260px;
    color: #61481C ;
    position: absolute;
    margin-top: 30px;
    font-size: medium;

    
}

.my_text{
    margin-bottom: 0px;
}

.this_text{
    font-size: 12px;
    width: 270px;

}

.readmore_btn{
    width: 95px;
    color: whitesmoke;
    background-color: #61481C;
    border-radius: 50px;
    height:35px;
    border: #61481C solid 2px;

}
 .the_third_container{
    background-color:#E8D8C4;
    height: 300px;
    width: 600px;
    display: block;
    margin-top: 600px;
 }

 .menu_list{
    width: 165px;
    height: 180px;
    position: absolute;
    background-color: #F8FAE5;
    border-radius:15px;
    border: #F8FAE5 solid 2px;
 }

 .delights_menu{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-left: 35px;
    margin-top: 25px;
 }

 .blueberry_cake{
    margin-left: 50px;
 }  

 .biscoff_cake{
    margin-left:230px;

 }

 .chocolate_cake{
    margin-left: 410px;
 }

 .the_menu_texts{
    font-size: 15.5px;
    margin-bottom:0px;
    color: black;
 }

 .our_menu_text{
    font-size: x-small;
    color:#61481C;
 }

 .this_menu_text{
    text-align: center;
    color: #61481C;
    height: 70px;
    padding-top: 20px;
 }